.incomplete-tasks-outer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  user-select: none;
}

.incomplete-tasks-inner {
  width: 70%;
  padding: 12px;
}

.incomplete-tasks-add {
  user-select: none;
  position: absolute;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.incomplete-tasks-add-data {
  position: relative;
  background: rgb(31, 32, 43);
  width: 500px;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2),
    -10 -10px 20px 0 rgba(0, 0, 0, 0.2);
}
.incomplete-tasks-add-data-cancel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: right;
}
.incomplete-tasks-add-data-cancel p {
  margin: 0;
  width: 40px;
  color: rgb(153, 153, 153);
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}
.incomplete-tasks-add-data-cancel p:hover {
  color: white;
}
.incomplete-tasks-add-data header {
  text-align: center;
  margin-bottom: 10px;
}
.incomplete-tasks-add-data h2 {
  margin: 0;
  color: white;
}
.incomplete-tasks-add-data input {
  width: 80%;
  text-align: center;
  padding: 7px 12px;
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 20px;
}
.incomplete-tasks-add-data button {
  width: 150px;
  border: 2px solid white;
  background: transparent;
  padding: 7px;
  color: white;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
}
.incomplete-tasks-add-data button:hover {
  background: white;
  color: black;
}

.incomplete-tasks-heading h1 {
  color: rgb(255, 255, 255);
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}

.incomplete-tasks-empty {
  background: rgb(31, 32, 43);
  text-align: center;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.incomplete-tasks-add-btn {
  text-align: center;
  padding: 12px;
}
.incomplete-tasks-add-btn button {
  background: rgb(31, 32, 43);
  border: none;
  padding: 7px 20px;
  color: rgb(201, 201, 201);
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}
.incomplete-tasks-add-btn button:hover {
  color: white;
}

.incomplete-tasks-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(31, 32, 43);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.incomplete-tasks-data-task-div {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1em;
}
.incomplete-tasks-data-task-div p {
  border-bottom: 1px solid rgb(59, 59, 59);
  margin: 0;
  margin-bottom: 10px;
  color: white;
  font-weight: normal;
  font-size: 1em;
}
.incomplete-tasks-data-date-div {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1em;
}
.incomplete-tasks-data-date-div p {
  border-bottom: 1px solid rgb(59, 59, 59);
  margin: 0;
  margin-bottom: 10px;
  color: white;
  font-weight: normal;
  font-size: 1em;
}

.incomplete-tasks-data button {
  width: 135px;
  padding: 5px 0px;
  border: none;
  margin: 5px;
  cursor: pointer;
  background: transparent;
  color: white;
  border: 3px solid white;
}
.incomplete-tasks-data button:nth-child(1) {
  border-color: green;
}
.incomplete-tasks-data button:nth-child(1):hover {
  color: green;
}
.incomplete-tasks-data button:nth-child(2) {
  border-color: rgb(172, 0, 0);
}
.incomplete-tasks-data button:nth-child(2):hover {
  color: rgb(172, 0, 0);
}

@media (max-width: 800px) {
  .incomplete-tasks-data {
    border-radius: 0px;
  }
  .incomplete-tasks-inner {
    width: 100%;
    padding: 12px 0px;
  }
  .incomplete-tasks-heading h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .incomplete-tasks-add-data {
    width: 100%;
    border-radius: 0px;
  }
}

@media (max-width: 450px) {
  .incomplete-tasks-add-data input {
    width: 95%;
  }
}
